@{
    ViewData["Title"] = "About Me";
}

<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4">About Me</h1>
        <p class="lead">I’m a passionate technology leader with a proven track record in cloud & infrastructure architecture, cloud & infrastructure engineering, and full-stack development.</p>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6">
            <h2>Professional Summary</h2>
            <p class="aboutme-p">
                I am a father and husband above everything else. I love my family, connecting with people, sports like golf, running, soccer, and snowboarding, put me outside and I’m happy! 
                <br />
                In my free time, I’m a technology architect, engineer, and full-stack developer. I apply architecture,engineering, and software development principles of systems and algorithmic thinking to whatever I work on from optimizing infrastructure to software solutions.
                <br />
                I prefer authenticity, avoid exclusiveness and value having friends from many cultures, stages, and walks of life. I believe that Everyone has something to teach me!
                <br />
                <br />
            </p>
            <p class="aboutme-p">
                Philosophy:
            </p>
            <ul class="text-body aboutme-p">
                    <li>
                        Hard work beats talent, when talent doesn’t work hard - Tim Notke
                    </li>
                    <li>
                        Leave it better than you found it - Mom
                    </li>
                    <li>
                        Veni, Vidi, Vici (I came, I saw, I conquered) - Julius Caesar
                    </li>
                </ul>
            <br />
            <p class="aboutme-p">
                I enjoy talking about:
                Austin, San Diego, Madison, Ancient Rome, team building, golf, soccer, football, mental fortitude, ice baths, Julius Caesar.
                <br />
                Career Experiences:
                Career experiences include developing software and infrastructure that hundreds use daily, managing and distributing data, cloud architecture, and serving as a mentor for those seeking guidance.
            
            </p>
        </div>
        <div class="col-lg-6">
            <img src="/images/profile.png" alt="Profile Picture" class="img-fluid rounded shadow" />
            <p>Cloud & Infrastructure Architecture | Cloud & Infrastructure Engineering | Automation | Data-Driven</p>
        </div>
    </div>

    <div class="mb-5">
        <h2>Key Skills</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Cloud Platforms:</strong> AWS, Azure</li>
            <li class="list-group-item"><strong>Project Management Frameworks:</strong> Agile, Waterfall</li>
            <li class="list-group-item"><strong>Project Management & Service Delivery Tools:</strong> Azure Boards, Jira, Github Issues & Projects, ServiceNow</li>
            <li class="list-group-item"><strong>Programming Languages:</strong> C#, Python, JavaScript</li>
            <li class="list-group-item"><strong>Shells:</strong> Command Prompt, PowerShell, ZSH, Bash</li>
            <li class="list-group-item"><strong>Frameworks:</strong> .NET Core, Django, React</li>
            <li class="list-group-item"><strong>Infrastructure as Code (IaC):</strong> Azure ARM & Bicep Templates, AWS CloudFormation, HashiCorp Terraform</li>
            <li class="list-group-item"><strong>CI / CD:</strong> Azure Pipelines, Github Actions, Jenkins, Databricks</li>
            <li class="list-group-item"><strong>Unit Testing:</strong> Azure Test Plans, UnitTest Python Package</li>
            <li class="list-group-item"><strong>Leadership:</strong> Managing global teams, project delivery, vendor management</li>
        </ul>
    </div>

    @* <div class="mb-5"> *@
    @*     <h2>Recent Projects</h2> *@
    @*     <ul> *@
    @*         <li><strong>Video Platform with AWS & Wagtail:</strong> Architected a scalable media delivery system with subscription-based access.</li> *@
    @*         <li><strong>Network Heat Map Tool:</strong> Built a tool that visualized network data, influencing $22M+ in investment decisions.</li> *@
    @*         <li><strong>Windows 10 Migration:</strong> Remediated 45k+ security vulnerabilities by migrating users and managing costs/vendors.</li> *@
    @*     </ul> *@
    @* </div> *@

    <div class="mb-5">
        <h2>Education & Certifications</h2>
        <div class="mx-3">
            <h4>Azure:</h4>
            <ul>
                <li>
                    <a href="https://learn.microsoft.com/en-us/users/breinerjordan-3275/credentials/f5d9a9f3e86aae8b?ref=https%3A%2F%2Fwww.linkedin.com%2F">
                        Microsoft Certified: Azure Fundamentals
                    </a>
                </li>
            </ul>
            <h4>AWS:</h4>
            <ul>
                <li>
                    <a href="https://www.credly.com/badges/d55e4f10-231c-45b1-a6ce-9124899fc885/public_url">
                         AWS Certified: Cloud Practitioner
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        <div class="mb-3">
            <h2>Contact</h2>
        </div>
        <div class="row g-4">

            <div class="col-md-4">
                <div class="card shadow-sm border-0 h-100 text-center hover-shadow" style="transition: 0.3s;">
                    <div class="card-body">
                        <i class="fas fa-envelope fa-2x text-secondary mb-3"></i>
                        <h5 class="card-title">Email</h5>
                        <a href="mailto:jordan.breiner@curiousjordan.club" class="stretched-link text-decoration-none text-dark">
                            jordan.breiner@curiousjordan.club
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm border-0 h-100 text-center hover-shadow" style="transition: 0.3s;">
                    <div class="card-body">
                        <i class="fab fa-linkedin fa-2x text-primary mb-3"></i>
                        <h5 class="card-title">LinkedIn</h5>
                        <a href="https://www.linkedin.com/in/jordan-breiner-950b31132/" target="_blank" class="stretched-link text-decoration-none text-dark">
                            LinkedIn
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm border-0 h-100 text-center hover-shadow" style="transition: 0.3s;">
                    <div class="card-body">
                        <i class="fab fa-github fa-2x text-dark mb-3"></i>
                        <h5 class="card-title">GitHub</h5>
                        <a href="https://github.com/curious-jordan2" target="_blank" class="stretched-link text-decoration-none text-dark">
                            Github
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
