@{
    ViewData["Title"] = "Home";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="display-4">Curious Jordan Portfolio Site</h1>
        <img class="img-fluid" src="/images/home.png" />
        <p class="lead">
            Welcome to my portfolio website!
            <br/>
            <br />
            This is a simple secure website deployed on Azure using ASP .Net, C#, and Internet Information Services (IIS). The website can be deployed using Terraform or Azure ARM.
        </p>
        <p>Current time on the server is: @DateTime.Now</p>
    </div>
    
</div>